// Fonts
@import                 url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
$Roboto:                'Roboto', sans-serif;
$body-font:             $Roboto;
$heading-font:          $Roboto;


// Colors
$cblue:                 #2873b9;
$cpurpel:               #693184;
$cdark:                 #141414;
$clight:                #f5f9ff;
$cgrey:                 #7D7D7D;
$cwhite:                #ffffff;
$cgreen:                #00966c;
$bg-light:              #f7f7f7;
$border-color:          #e1e5e6;


// Shadow
$shadow:                0px 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
$light-bs:              0px 5px 14px -10px rgba(28, 28, 28, 0.75);
$dark-bs:               0px 10px 20px -12px rgb(28, 28, 28, 0.5);
$img-bs:                0px 16px 26px -14px rgba(0, 0, 0, 0.59);
$icon-bs:               0px 2rem 1.5rem -1.5rem rgba(33,37,41,0.15),0 0 1.5rem 0.5rem rgba(33,37,41,0.05);
$icon-bsh:              0px 2.25rem 1.5rem -1.5rem rgba(33,37,41,0.4),0 0 1.5rem 0.5rem rgba(33,37,41,0.05);
$bannerSha:             0px -19px 88px 15px rgb(187 201 234), -1px 0px 13px -5px rgb(179 193 229);


// Height
$minh100vh:             100vh;


// Cubic
$bezier:                cubic-bezier(.19,1,.22,1);


// Border radius
$radius:                100%;
$border12:              12px;
$border8:               8px;
$border6:               6px;
$border4:               4px;
$border2:               2px;


// Transition
$all: all .5s ease-in-out;