.smartDT {
    position: relative;
    // height: 100vh;
    background-image: url(../../assets/images/backgrounds/SmartDEVimage.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    // margin-top: 0.65rem;
    
    &--sec {
        position: relative;

        .filters {
            .card {
                border: none;
                border-radius: $border12;
                box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);

                .card-header {
                    padding: 0.35rem 0.65rem;
                    background-color: $cwhite;

                    h2 {
                        font-size: 1.1rem;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        .srchFilter {
            // width: 1200px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            border-radius: 8px;
            box-shadow: 0px 6px 48px -30px rgb(0 0 0 / 30%);
            background-color: #fff;
            padding: 14px 14px 10px;
            margin-bottom: 1rem;

            form {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            
                .btn-primary {
                    display: block;
                    text-align: center;
                    width: auto;
                    padding: 16px;
                    font-size: 1rem;
                    border-radius: 8px;
                    background-color: $cblue;
                    color: $cwhite;
                    border-color: darken($cblue, 10);
        
                    &:hover {
                        background-color: darken($cblue, 20);
                        color: $cwhite;
                    }
                }

                .upDownIcon {
                    padding: 0 0.35rem;
                    filter: brightness(0.1);
                    margin: 0;
                }

                .input {
                    position: relative;
                    overflow: hidden;
                    padding: 0.2rem 0.5rem;
                    border: 1px solid $border-color;
                    // @include box-shadow($shadow);
                    @include transition($all);
    
                    &.first-child {
                        border-radius: $border6 0 0 $border6;
                    }
    
                    &.last-child {
                        margin-right: 0.5rem;
                        border-radius: 0 $border6 $border6 0;
                    }
                    
                    &:hover {
                        background-color: darken($bg-light, 4);
                        
                        input {
                            background-color: darken($bg-light, 4);
                        }
                    }
                    
                    label {
                        font-size: 0.9rem;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                    
                    input {
                        border: none;
                        padding: 0px;
                        font-size: 1.28rem;
                        color: $cdark;
                        height: auto;
                        font-weight: 700;
                        box-shadow: none;
                        text-transform: capitalize;
                        @include transition($all);
                        
                        &::placeholder {
                            color: $cgrey;
                        }
                        
                        &::foucs {
                            border: none;
                            box-shadow: none;
                        }
                    }

                    .form-select {
                        border: none;
                        color: $cdark;
                        height: auto;
                        font-weight: 700;
                        box-shadow: none;
                        text-transform: capitalize;
                        @include transition($all);
                        
                        &::placeholder {
                            color: $cgrey;
                        }
                        
                        &::foucs {
                            border: none;
                            box-shadow: none;
                        }
                    }
                    
                    p {
                        font-size: 0.9rem;
                        width: max-content;
                        margin-bottom: 0;
                    }
                }
                
                .ts {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.75rem;
                    
                    h6 {
                        margin-right: 0.5rem;
                        margin-bottom: 0;
                    }
                    
                    .badge {
                        font-size: 1rem;
                        padding: 0.4rem 0.65rem;
                        background-color: $border-color;
                        color: $cdark;
                        border-radius: 4px;
                        font-weight: 400;
                        margin: 0 0.2rem;
                        @include transition($all);
                        text-decoration: none;
                        
                        &:hover {
                            color: $cwhite;
                            background-color: $cdark;
                        }
                    }
                }
            }
        }

        .searchBox {
            // width: 1200px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            border-radius: 8px;
            box-shadow: 0px 6px 48px -30px rgb(0 0 0 / 80%);
            background-color: #fff;
            padding: 14px 14px 10px;
            margin-bottom: 3rem;
    
            .btn-primary {
                background-color: $cblue;
                color: $cwhite;
                border-color: darken($cblue, 10);
    
                &:hover {
                    background-color: darken($cblue, 20);
                    color: $cwhite;
                }
            }

            .form {
                position: relative;
            
                .btn-primary {
                    display: block;
                    text-align: center;
                    width: 100%;
                    padding: 16px;
                    opacity: 1;
                    font-size: 1rem;
                    border-radius: 8px;
                }
                .input {
                    position: relative;
                    overflow: hidden;
                    padding: 0.2rem 0.5rem;
                    border: 1px solid $border-color;
                    @include box-shadow($shadow);
                    @include transition($all);
    
                    &.first-child {
                        border-radius: $border6 0 0 $border6;
                    }
    
                    &.last-child {
                        border-radius: 0 $border6 $border6 0;
                    }
                    
                    &:hover {
                        background-color: darken($bg-light, 4);
                        
                        input {
                            background-color: darken($bg-light, 4);
                        }
                    }
                    
                    label {
                        font-size: 0.9rem;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                    
                    input {
                        border: none;
                        padding: 0px;
                        font-size: 1.28rem;
                        color: $cdark;
                        height: auto;
                        font-weight: 700;
                        box-shadow: none;
                        text-transform: capitalize;
                        @include transition($all);
                        
                        &::placeholder {
                            color: $cgrey;
                        }
                        
                        &::foucs {
                            border: none;
                            box-shadow: none;
                        }
                    }

                    .form-select {
                        border: none;
                        color: $cdark;
                        height: auto;
                        font-weight: 700;
                        box-shadow: none;
                        text-transform: capitalize;
                        @include transition($all);
                        
                        &::placeholder {
                            color: $cgrey;
                        }
                        
                        &::foucs {
                            border: none;
                            box-shadow: none;
                        }
                    }
                    
                    p {
                        font-size: 0.9rem;
                        width: max-content;
                        margin-bottom: 0;
                    }
                }
                
                .ts {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.75rem;
                    
                    h6 {
                        margin-right: 0.5rem;
                        margin-bottom: 0;
                    }
                    
                    .badge {
                        font-size: 1rem;
                        padding: 0.4rem 0.65rem;
                        background-color: $border-color;
                        color: $cdark;
                        border-radius: 4px;
                        font-weight: 400;
                        margin: 0 0.2rem;
                        @include transition($all);
                        text-decoration: none;
                        
                        &:hover {
                            color: $cwhite;
                            background-color: $cdark;
                        }
                    }
                }
            }
        }

        .dateView {
            position: relative;
            width: 94%;
            margin: 0 auto 0.75rem;
            box-shadow: 0px 6px 48px -30px rgb(0 0 0 / 30%);

            .slick-arrow{
                top: 49.5%;
                width: 29px;
                height: 73.5px;
                border: 1px solid #d6d6d6;

                &.slick-prev {
                    left: -3%;
                    border-radius: 6px 0 0 6px;
                } 

                &.slick-next {
                    right: -3%;
                    border-radius: 0 6px 6px 0;                    
                } 
            } 
                

            .card-padding {
                padding: 0.6rem;
                position: relative;
                border: 1px solid darken($border-color, 5);
                // border: 1px solid $border-color;
                border-right: 0;

                @include md-down {
                    padding: 0.2rem;
                }

                .info {
                    position: relative;
                    text-align: center;
                    @include transition($all);

                    &.active {
                        .date {
                            font-weight: 600;
                            color: darken($cpurpel, 20);
                        }
                        
                        .price {
                            font-weight: 600;
                            color: darken($cpurpel, 20);
                        }
                    }

                    .date {
                        display: block;
                        font-size: 1rem;
                        color: $cdark;
                        margin-bottom: 0.2rem;
                    }

                    .price {
                        display: block;
                        font-size: 1.05rem;
                        color: $cgreen;
                    }
                }

                &:hover {
                    background-color: $clight;

                    .date {
                        font-weight: 600;
                        color: darken($cblue, 20);
                    }
                    
                    .price {
                        font-weight: 600;
                        color: $cgreen;
                    }
                }
            }
        }

        .travelroute-heading {
            @include display-flex;
            min-width: 100%;
            background-color: #fff;
            min-height: 50px;
            justify-content: space-between;
            margin-bottom: 0.75rem;
            border-radius: $border8;
            border: 1px solid $clight;
            -webkit-box-shadow: 0 3px 7px 0 rgba(129, 129, 129, 0.1);
            box-shadow: 0 3px 7px 0 rgb(55 94 246 / 10%);
            &.odd {
                background-color: lighten($cdark, 50%);
            }
            &.even {
                background-color: lighten($cblue, 50%);
            }
            .travelroute {
                @include display-flex;
            }
            &__date {
                background-color: $cpurpel;
                color: #fff;
                border-radius: $border8 0 0 $border8 ;
                max-width: 50px;
                min-width: 50px;
                width: 50px;
                @include display-flex;
                -webkit-flex-flow: column;
                flex-flow: column;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                padding: 7px 0;
                position: relative;
                text-shadow: 0 0 2px rgba(0,0,0,.2);
                b {
                    font-size: 16px;
                }
                span {
                    font-size: 13px;
                    margin-top: 5px;
                    line-height: 0;
                    margin-bottom: 10px
                }
            }
            &__route {
                @include display-flex;
                -webkit-flex-flow: column;
                flex-flow: column;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                padding: 7px 0;
                position: relative;
                text-shadow: 0 0 2px rgba(0,0,0,.2);
                h4 {
                    font-size: 1.2rem;
                    color: $cdark;
                    margin-bottom: 0;
                    padding-left: 1.5rem;
                }
            }
            &__switcher {
                @include display-flex;
                -webkit-flex-flow: column;
                flex-flow: column;
                -webkit-align-items: flex-end;
                align-items: flex-end;
                -webkit-justify-content: center;
                justify-content: center;
                padding: 2px 0;
                // margin-top: 0.5rem;
                position: relative;
                margin-right: 1rem;
                h4 {
                    font-size: 1.8rem;
                    color: darken($cblue, 25);
                    font-weight: 700;

                    span {
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 45px;
                    height: 23px;
                    left: 17px;
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: -1px;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: .4s;
                        transition: .4s;
                      
                        &:before {
                            position: absolute;
                            content: "";
                            height: 15px;
                            width: 15px;
                            left: 5px;
                            bottom: 4px;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                    }
                    input {
                        &:checked + .slider {
                            background-color: $cblue
                        }
                        &:focus + .slider {
                            box-shadow: 0 2px 4px -2px $cdark;
                        }
                        &:checked + .slider:before {
                            -webkit-transform: translateX(22px);
                            -ms-transform: translateX(22px);
                            transform: translateX(22px);
                        }
                    }
                    /* Rounded sliders */
                    .slider.round {
                        border-radius: 34px;
                        &:before {
                            border-radius: 50%;
                        }
                    }
                }
            }
            &__btn {
                @include display-flex;
                -webkit-flex-flow: column;
                flex-flow: column;
                -webkit-align-items: flex-end;
                align-items: flex-end;
                -webkit-justify-content: center;
                justify-content: center;
                padding: 2px 0;
                position: relative;
                margin-right: 2rem;
                .more-btn {
                    font-weight: bold;
                    color: white;
                    cursor: pointer;
                    background-color: $cblue;
                    border-radius: 30px;
                    padding: 0.8rem 1.75rem;
                    @include transition($all);
                    // box-shadow: $shadow-l;
            
                    &:hover, &:focus {
                        background-color: lighten($cblue, 15%);
                    }
                }
            }
        }        
    }

    .flight-list-box {
        position: relative;
        z-index: 1;
        padding: 18px;
        border-radius: $border8;
        margin-bottom: 0.65rem;
        -webkit-transition: all .24s ease-in-out;
        transition: all .24s ease-in-out;
        border: 1px solid rgba(128, 128, 128, 0.18);
        background-color: #fff;
        box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);

        .flight-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 86px;
            width: 79px;
            height: 86px;
            border-radius: $border8;
            text-align: center;
            // border: 1px solid rgba(73, 108, 254, .2);

            img {
                margin-bottom: 0px;
            }

            &.smallImg {
                line-height: 46px;
                width: 46px;
                height: 46px;
                margin-right: 0.65rem;
            }
        }

        .pricing {
            h5 {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0;
            }

            p {
                font-size: 12px;
                margin: 0 0 0;
                color: #666363;
            }
        }

        .flight-time {
            .left {
                span:nth-child(1) {
                    font-size: 20px;
                    font-weight: 600;
                    color: #000;
                }

                span:nth-child(2) {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #666363;
                }
            }

            .right {
                span:nth-child(1) {
                    font-size: 20px;
                    font-weight: 600;
                    color: #000;
                }
                
                span:nth-child(2) {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #666363;
                }
            }

            .middle {
                padding-right: 12px;
                padding-left: 12px;
                text-align: center;

                img {
                    margin-bottom: 0;
                }

                span {
                    font-size: 12px;
                }
            }
        }

        .flight-detils {
            span:nth-child(1) {
                font-size: 12px;
                color: #666363;
            }
            span:nth-child(2) {
                font-size: 13px;
                color: darken($cblue, 15);
            }
        }

        .trip {
            span:nth-child(1) {
                font-size: 24px;
                font-weight: 700;
                color: darken($cblue, 15);

                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            span:nth-child(2) {
                font-size: 12px;
                color: #333;
            }
        }

        .book-now {
            .rt-btn {
                font-size: 12px;
                font-weight: 600;
                line-height: 24px;
                padding: 10px 30px;
                position: relative;
                z-index: 1;
                color: #fff;
                border: none;
                border-radius: 0.5rem;
                background: -webkit-linear-gradient(55deg, $cblue 0%, darken($cblue, 10) 50%, darken($cblue, 20) 100%);
                background: linear-gradient(35deg, $cblue 0%, darken($cblue, 10) 50%, darken($cblue, 20) 100%);

                &:after {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    visibility: hidden;
                    width: 100%;
                    height: 100%;
                    content: '';
                    -webkit-transition: all .36s cubic-bezier(.47, 0, .745, .715);
                    transition: all .36s cubic-bezier(.47, 0, .745, .715);
                    opacity: 0;
                    color: #fff;
                    border-radius: 10px;
                    background: -webkit-linear-gradient(125deg, $cblue 0%, darken($cblue, 10) 50%, darken($cblue, 20) 100%);
                    background: linear-gradient(-35deg, $cblue 0%, darken($cblue, 10) 50%, darken($cblue, 20) 100%);
                }

                &:hover {

                    &:after {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

        }

        .bottom-content {
            padding-top: 1rem;

            .fInfo {
                line-height: 26px;
                padding: 6px 20px;
                background-color: #f3f6f9;
                font-weight: 600;
                text-transform: uppercase;
                
                p {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;
                    line-height: 26px;
                    margin-bottom: 0;
                }
            }

            .flight-timeline {
                position: relative;
                z-index: 1;
                width: 100%;
                margin: 0;
                list-style: none;
                box-shadow: 0 0 2px 0 #d7dce2;
                padding: 12px;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 20%;
                    width: 3px;
                    height: 40px;
                    content: '';
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    background-color: $cblue;
                }

                &:after {
                    display: block;
                    clear: both;
                    content: '';
                }

                li {
                    font-size: 13px;
                    position: relative;
                    z-index: 1;
                    color: #000;
                    margin-bottom: 0.35rem;

                    &:first-child:after {
                        position: absolute;
                        top: 0;
                        right: 3px;
                        width: 5px;
                        height: 5px;
                        content: '';
                        border-radius: 50%;
                        background-color: darken($cblue, 15);
                    }

                    &:last-child:after {
                        position: absolute;
                        bottom: 0;
                        left: -8px;
                        width: 5px;
                        height: 5px;
                        content: '';
                        border-radius: 50%;
                        background-color: darken($cblue, 15);
                    }

                    &:nth-child(2n + 1) {
                        float: left;
                        width: 20%;
                    }

                    &:nth-child(2n) {
                        float: right;
                        width: 80%;
                        padding-left: 30px;
                    }
                }
            }
        }

        .viewFaresOuter {
            background: #fff;
            border-radius: 2px;

            .viewFareRowHead {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 6px 0;
                background-color: #f3f6f9;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 10px;

                .fareName {
                    width: 160px;
                    padding: 0 10px 0 20px;
                }

                .viewFareRowContent {
                    font-size: 10px;
                    width: 580px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: 17px;

                    .flexOne {
                        flex: 1;
                        margin-right: 5px;

                        &.otherClass {
                            max-width: 60px;
                        }
                    }
                }

                .viewFareBtnCol {
                    width: 140px;
                    padding-right: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    white-space: nowrap;
                }
            }

            .viewFareRowWrap {
                box-shadow: 0 0 2px 0 #d7dce2;
                padding: 12px 0;

                .viewFareRow {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    .fareName {
                        width: 160px;
                        padding: 0 10px 0 20px;

                        .fareNameHead {
                            position: relative;
                            font-size: 14px;
                            margin-bottom: 0;

                            &:before {
                                content: "";
                                position: absolute;
                                left: -20px;
                                top: 3px;
                                width: 4px;
                                height: 16px;
                                background-color: $cpurpel;
                            }
                        }

                        .fontSize12 {
                            font-size: 12px;
                            margin-bottom: 0;
                        }
                    }

                    .viewFareRowContent {
                        width: 580px;
                        display: flex;
                        font-size: 12px;
                        margin-right: 17px;

                        .whatsAppMetaDataContainer {
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            margin-right: 5px;

                            &.otherClass {
                                max-width: 60px;
                            }
                        }
                    }

                    .viewFareBtnCol {
                        width: 140px;
                        padding-right: 10px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        white-space: nowrap;
                        
                        p {
                            font-size: 16px;
                            font-weight: 900;
                            margin-bottom: 5px;
                            color: $cdark;
                        }

                        .buttonPrimary {
                            font-size: 14px;
                            width: 100%;
                            display: flex;
                            border-radius: 35px;
                            box-shadow: 0 1px 7px 0 rgb(0 0 0 / 22%);
                            cursor: pointer;
                            color: #fff;
                            align-items: center;
                            justify-content: center;
                            height: 32px;
                            padding: 0 20px;
                            border: none;
                            outline: none!important;
                            font-weight: 600;
                            background-image: linear-gradient(97deg,#53b2fe,#065af3 130%);
                        }
                    }
                }
            }
        }
    }
}

