// GEI Theme Var

// Colors
$cblue:                 #2873b9;
$cblued:                #143A5D;
$cpurpel:               #693184;
$cpurpeld:              #351942;
$cdark:                 #141414;
$clight:                #f5f9ff;
$cgrey:                 #7D7D7D;
$cwhite:                #ffffff;
$cgreen:                #00966c;
$bg-light:              #f7f7f7;
$border-color:          #e1e5e6;
$border-light-color:    rgb(172, 178, 184);

$pink-color:            $cblue;
$darkblue:              #091b30;
$transparent:           transparent;
$white:                 $cwhite;

$text-color:            #444C5E;
$dark-font:             #212326;
$meta-color:            #919BA3;
$text-white:            $cwhite;

$main-color:            #082159;
$heading-color:         $cblue;

// Fonts
@import                 url(https://fonts.googleapis.com/css?family=Dr+Sugiyama&display=swap&subset=latin-ext);
@import                 url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap);
@import                 url("https://use.typekit.net/vhw3wot.css");

$Ropa:                   ropa-mix-pro, sans-serif;

$Roboto:                $Ropa;
$Lato:                  'Lato', sans-serif;
$Titillium:             $Ropa;
$hcfont:                'Dr Sugiyama', cursive;
$Raleway:               $Ropa;

$body-font:             $Lato;
$heading-font:          $Ropa;

// Border radius
$border16:              16px;
$border10:              10px;
$border8:               8px;
$border4:               4px;
$border6:               6px;
$border2:               2px;

// Shadow
$shadow:                0px 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
$shadow-l:              0 8px 10px -4px rgba(80, 80, 80, 0.2);
$light-bs:              0px 5px 14px -10px rgba(28, 28, 28, 0.75);
$dark-bs:               0px 10px 20px -12px rgb(28, 28, 28, 0.5);
$img-bs:                0px 16px 26px -14px rgba(0, 0, 0, 0.59);
$icon-bs:               0px 2rem 1.5rem -1.5rem rgba(33,37,41,0.15),0 0 1.5rem 0.5rem rgba(33,37,41,0.05);
$icon-bsh:              0px 2.25rem 1.5rem -1.5rem rgba(33,37,41,0.4),0 0 1.5rem 0.5rem rgba(33,37,41,0.05);
$bannerSha:             0px -19px 88px 15px rgb(187 201 234), -1px 0px 13px -5px rgb(179 193 229);

// Border radius
$border12:              12px;
$border8:               8px;
$border6:               6px;
$border4:               4px;
$border2:               2px;

// Transition
$all:                   all 500ms ease-in-out;



// Old font-family links //
// @import                 url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap);
// @import                 url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap);
// @import                 url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900);
// @import                 url(https://fonts.googleapis.com/css?family=Titillium+Web:600&display=swap);
// @import                 url(https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);

// $Roboto:                'Roboto', sans-serif;
// $Lato:                  'Lato', sans-serif;
// $Titillium:             'Titillium Web', sans-serif;
// $hcfont:                'Dr Sugiyama', cursive;
// $Raleway:               'Raleway', sans-serif;

// $body-font: 'Roboto', sans-serif;
// $heading-font: 'Maven Pro', sans-serif; 