.in-educ {
    position: relative;
    .single-rt-banner {
        background-position: top;
        background-size: contain;
    }
    &--content {
        padding-top: 40px;
        
        h1 {
            font-size: 3.25rem !important;
            line-height: 70px !important;
            color: white;
            text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
        }
        h2 {
            color: white;
            font-size: 1.5rem;
            font-family: $Lato;
            text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        }
        .action-button {
            font-weight: bold;
            color: white;
            border: 0 none;
            cursor: pointer;
            background-color: $pink-color;
            border-radius: 8px;
            margin: 2.2rem 5px 0;
            @include transition($all);

            &:hover, &:focus {
                background-color: lighten($pink-color, 15%);
            }
        }
    }
}

.tbgprefix-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;

    &::before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.45);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    h1 {
        font-size: 5rem;
        font-weight: 600;
        color: $text-white;
    }
}

.eduTopics {
    position: relative;
    text-align: center;
    margin-bottom: 46px;
    
    img {
        width: auto;
        height: 60px;
        margin-bottom: 0.5rem;
    }

    h4 {
        font-size: 2rem;
        font-weight: 800;
        color: $cpurpel;
    }

    h5 {
        font-size: 1.8rem;
        font-weight: 600;
        color: #505050;
    }
}

.educ-overview {
    position: relative;
    &--advnt {
        position: relative;
        .rt-section-title-wrapper {
            .rt-section-title {
                font-size: 38px;
                color: $pink-color;
                margin-bottom: 1rem;
            }
            p {
                font-size: 2rem;
                color: $cpurpel;
            }
        }
    }
    &--points {
        position: relative;
        .rt-section-title-wrapper {
            .rt-section-title {
                font-size: 38px;
                color: $pink-color;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.4rem;
            }
        }

        .pt {
            position: relative;
            display: block;
            padding: 1rem 0;

            &__flex {
                display: flex;
                align-items: center;
                justify-content: start;
                margin-bottom: 1.4rem;

                span {
                    min-width: 60px;
                    width: 60px;
                    height: 60px;
                    background-color: $pink-color;
                    border-radius: 50%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 1rem;

                    img {
                        width: 30px;
                        margin: 0;
                    }
                }

                p {
                    font-size: 22px;
                    font-weight: 500;

                    @include bp-md-down {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    &--steps {
        position: relative;
        @include display-flex;
        justify-content: space-between;
        margin-top: 3rem;
        .counter-thumb {
            // padding: 2rem;
            background-color: $pink-color;
            border-radius: 1rem;
            width: 100%;
            min-height: 180px;
            margin: 0.8rem;
            text-align: center;
            @include display-flex;
            -webkit-flex-flow: column;
            flex-flow: column;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            box-shadow: $shadow-l;
            h6 {
                font-family: $Lato;
                font-size: 1.4rem;
                line-height: 26px;
                font-weight: 500;
                margin-top: 1.6rem;
                color: white;
            }
            &:hover {
                background-color: lighten($pink-color, 10%);
                box-shadow: $shadow;
            }
        }
    }
    .rt-design-elmnts {
        position: absolute;
        top: 10%;
        right: 0;
        width: 750px;
        height: -webkit-fill-available;
        @include bp-md-updown {
            display: none;
        }
    }
    &--content {
        // padding-left: 3rem;
        h1 {
            &.rt-section-title {
                font-size: 8rem;

                @include bp-md-down {
                    font-size: 6rem;
                }
            }
        }
        .rt-section-title {
            color: $cpurpel;
            font-size: 38px;
            // font-family: $Lato;
            margin-bottom: 0.8rem;
        }
        h4 {
            color: $dark-font;
            font-family: $Lato;
            font-size: 1.4rem;
            margin-bottom: 1.4rem;
        }
        p {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 1.2rem;
            margin-bottom: 2.2rem;
        }

        .pt {
            position: relative;
            display: block;
            padding: 1rem 0;

            &__flex {
                display: flex;
                align-items: self-start;
                justify-content: start;
                margin-bottom: 0.4rem;

                img {
                    width: 26px;
                    margin: 0;
                }

                p {
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: 500;
                    margin-left: 1rem;

                    @include bp-md-down {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    &--coun {
        background-color: $white;
        border-radius: $border10;
        box-shadow: $shadow-l;
        padding: 2.5rem;
        margin-bottom: 3rem;
        .d-flex {
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-align-items: center;
            align-items: center;
            margin-bottom: 1.75rem;
            img {
                margin-right: 1.75rem;
            }
            h4 {
                font-size: 1.8rem;
                color: $pink-color;
            }
        }
        p {
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 1.75rem;
        }
        &__link {
            @include display-flex;
            a {
                margin-right: 1rem;
                color: $pink-color;
                font-size: 1.15rem;
                // text-decoration: underline;
                padding: 0.5rem 1.2rem;
                border-radius: $border4;
                @include transition($all);
                &:hover {
                    background-color: $pink-color;
                    color: $white;
                    text-decoration: none;
                    box-shadow: $shadow-l;
                }
            }
        }
        &__tag {
            a {
                margin-right: 1rem;
                display: inline-block;
                color: $cpurpel;
                font-size: 1.1rem;
                padding: 0.4rem 1rem;
                border-radius: 20px;
                border: 1px solid $border-light-color;
                @include transition($all);
                margin-bottom: 1rem;
                &:hover {
                    background-color: $cpurpel;
                    color: $white;
                    box-shadow: $shadow-l;
                    border-color: darken($cpurpel, 20%);
                }                
            }
        }
        
        &:hover {
            box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
        }
    }
    &--ap  {
        position: relative;
        @include display-flex;
        justify-content: space-between;
        margin-top: 3rem;
        .counter-thumb {
            background-color: $white;
            border-radius: 1rem;
            width: 100%;
            min-height: 180px;
            margin: 0.8rem;
            text-align: center;
            @include display-flex;
            -webkit-flex-flow: column;
            flex-flow: column;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            box-shadow: $shadow-l;
            h6 {
                font-family: $Lato;
                font-size: 1.25rem;
                line-height: 26px;
                font-weight: 500;
                margin-top: 1.6rem;
                color: $pink-color;
            }
            &:hover {
                background-color: darken($white, 10%);
                box-shadow: $shadow;
            }
        }
    }
    &--blog {
        position: relative;
        box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
        transition: 0.3s;
        border-radius: 1rem;
        overflow: hidden;
        border: 1px solid #dcdcdc;
        background-color: white;
    
        .dist {
            position: relative;
            display: block;
            img {
                width: 100%;
            }
            &-name {
                position: absolute;
                bottom: 10px;
                left: 16px;
                min-height: 54px;
                font-size: 1.2rem;
                color: white;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70px;
                background: rgba(186, 25, 90, 0.6);
            }
        }
          
        .details-sec {
            @include display-flex;
            justify-content: space-between;
            padding: 0.8rem 1rem;
            h5 {
                font-size: 2.4rem;
                font-weight: 100;
                margin-bottom: 0.1rem;
                color: #5f5f5f;
            }
            p {
                font-weight: 400;
                margin-bottom: 0.2rem;
                line-height: 22px;
            }
    
            .tiny-text {
                font-size: 13px;
                color: $pink-color;
                padding-left: 1rem;
                @include transition($all);
            }
        }
      
        &:hover {
            box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
            .tiny-text {
                text-decoration: underline;
            }
        }
    }
    &--slide {
        position: relative;

        h1 {
            &.rt-section-title {
                font-size: 8rem;

                @include bp-md-down {
                    font-size: 6rem;
                }
            }
        }
        .rt-section-title {
            color: $pink-color;
            font-size: 38px;
            // font-family: $Lato;
            margin-bottom: 0.8rem;
        }
        h4 {
            color: $dark-font;
            font-family: $Lato;
            font-size: 1.8rem;
            margin-bottom: 2.2rem;
        }

        .card-padding {
            padding: 0 0.8rem;
            .card-things {
                box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
                transition: 0.3s;
                border-radius: 2rem;
                margin-bottom: 2.4rem;
                display: flex;
                align-items: center;
                overflow: hidden;
                border: 1px solid #dcdcdc;
                background-color: white;

                img {
                    width: 50%;
                    object-fit: cover;
                }
            
                .content {
                    display: block;
                    padding: 6rem;

                    @include bp-md-down {
                        padding: 4rem;
                    }
                    h5 {
                        font-size: 2.2rem;
                        font-weight: 600;
                        margin-bottom: 0.1rem;
                        color: $pink-color;
                    }
                    p {
                        font-weight: 400;
                        color: #a9a9a9;
                    }
            
                    .tiny-text {
                        font-size: 13px;
                        color: #5f5f5f;
                        i {
                            padding-right: 0.5rem;
                        }
                    }
                }
              
                &:hover {
                    box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
                }
            }
        }
    }
}

.counter-box-1 {
    border-radius: $border8;
    box-shadow: $shadow-l;
    .media-body {
        h6 {
            color: $pink-color;
            span{
                &:first-child {
                    padding-right: 0.8rem;
                }
            }
        }
    }
}

.testimonials-area {
    &.c-testimonials-area {
        .rt-section-title-wrapper {
            .rt-section-title {
                color: $pink-color;
                font-size: 2.4rem;
                span {
                    color: lighten($pink-color, 20%);
                }
            }
        }
        .singleTbox-1 {
            &.active {
                .testi-thumb {
                    background: -webkit-gradient(linear, left bottom, left top, from($pink-color), to(#2e5389));
                    background: -webkit-linear-gradient(bottom, $pink-color 0%, #2e5389 100%);
                    background: linear-gradient(0deg, $pink-color 0%, #2e5389 100%);
                    .social-badge {
                        background: -webkit-gradient(linear, left bottom, left top, from($pink-color), to(#2e5389));
                        background: -webkit-linear-gradient(55deg, $pink-color 0%, #2e5389 100%);
                        background: linear-gradient(35deg, $pink-color 0%, #2e5389 100%);
                    }
                }
            }
        }
    }
}