.gap-m {
    margin: 2.5rem auto;
    padding: 0.4rem 0;
}

.no-margin {
    margin: 0px;
}

.readmore {
    font-size: 14px;
    line-height: 1.5;
  
    p {
        &.collapse:not(.show) {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            min-height: 76px;
        }
  
        &.collapsing {
            min-height: 80px !important;
        }
    }
  
    a {
        &.collapsed:after {
            content: '+ Read More';
        }
    
        &:not(.collapsed):after {
            content: '- Read Less';
        }
    }
}

.main-header {
    margin-bottom: 1.2rem;
    .entry-title {
        font-size: 4rem;
        margin-bottom: 0;
        color: $pink-color;
        text-shadow: 0px 2px 6px rgba(186, 25, 90, 0.24);
        &-sm {
            font-size: 2.4rem;
            color: $pink-color;
        }
    }
}

.entry-header {
    margin-bottom: 1.2rem;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .entry-title {
        font-size: 4rem;
        margin-bottom: 0;
        color: $pink-color;
        text-shadow: 0px 2px 6px rgba(186, 25, 90, 0.24);
        &-sm {
            font-size: 2.4rem;
            color: $pink-color;
            display: flex;
        }
    }
    a{
        text-decoration: none;
        color: #1a73e8;
        font-size: 1.4rem;
        span {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: 48px;
            padding: 12px 4px;
            transition: opacity 300ms;
            white-space: nowrap;
        }
    }
}

.card-padding {
    padding: 0 0.8rem;
    .card-things {
        box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
        transition: 0.3s;
        border-radius: 2rem;
        margin-bottom: 2.4rem;
        overflow: hidden;
        border: 1px solid #dcdcdc;
    
        .container {
            display: block;
            padding: 0.8rem 1rem;
            h5 {
                font-size: 1.5rem;
                font-weight: 100;
                margin-bottom: 0.1rem;
                color: #5f5f5f;
            }
            p {
                font-weight: 400;
                color: #a9a9a9;
            }
    
            .tiny-text {
                font-size: 13px;
                color: #5f5f5f;
                i {
                    padding-right: 0.5rem;
                }
            }
        }
      
        &:hover {
            box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
        }
    }
    .card-video {
        position: relative;
        box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
        transition: 0.3s;
        border-radius: 2rem;
        overflow: hidden;
        border: 1px solid #dcdcdc;
        margin: 0 0.3rem 2.2rem;
        .dist {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                display: block;
            }
            span {
                display: inline-block;
                fill: currentColor;
                color: #fff;
                @include post(absolute,50%,25%,40px,40px);
                opacity: .87;
                transform: translate(-50%,-50%);
                line-height:40px;
                svg {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .details-sec {
            display: block;
            padding: 0.8rem 1rem;
            h5 {
                font-size: 1.2rem;
                font-weight: 100;
                margin-bottom: 0.1rem;
                color: #5f5f5f;
                min-height: 110px;
            }
    
            .tiny-text {
                font-size: 14px;
                color: #80868b;
                font-style: italic;
                span {
                    font-size: 14px;
                    font-style: normal;
                }
            }
        }
    
        &:hover {
            box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
        }
    }
    .card-destination {
        position: relative;
        box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
        transition: 0.3s;
        border-radius: 2rem;
        overflow: hidden;
        border: 1px solid #dcdcdc;
        margin: 0 0.3rem 2.2rem;
    
        .dist {
            position: relative;
            display: block;
            img {
                width: 100%;
            }
            &-name {
                position: absolute;
                bottom: 10px;
                left: 16px;
                font-size: 1.1rem;
                color: white;
            }
            &:before {
                @include afterb(absolute,0,0,100%,60px);
                background: linear-gradient(0deg, rgba(9, 27, 49, 0.85) 0%, rgba(9, 27, 49, 0.6) 35%, rgba(9, 27, 49, 0) 100%);
            }
        }
          
        .details-sec {
            display: block;
            padding: 0.8rem 1rem;
            background-color: $text-white;
            h5 {
                font-size: 1.4rem;
                font-weight: 100;
                margin-bottom: 0.1rem;
                color: #5f5f5f;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                min-height: 90px;
            }
    
            .tiny-text {
                font-size: 13px;
                color: #757575;
                font-style: italic;
            }
    
            .btn-icon {
                font-size: 14px;
                display: grid;
                line-height: 3;
                color: #141414;
                i {
                    font-size: 2.5rem;
                }
                &:hover {
                    color: $pink-color;
                }
            }
        }
      
        &:hover {
            box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
        }
    }
    .card-hc {
        position: relative;
        box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
        transition: 0.3s;
        border-radius: 2rem;
        overflow: hidden;
        border: 1px solid #dcdcdc;
        margin: 0 0 2.2rem;
        .dist {
            width: 100%;
            height: 240px;
            display: block;
            position: relative;
            padding: 2rem;
            overflow: hidden;
            img {
                width: auto;
                display: block;
                margin: 0 auto;
            }
        }
        .details-sec {
            display: block;
            padding: 0.8rem 1rem;
            h5 {
                font-size: 1.2rem;
                font-weight: 100;
                margin-bottom: 0.1rem;
                color: #5f5f5f;
                min-height: 50px;
            }
    
            .hc-text {
                font-size: 14px;
                color: #696c6f;
                line-height: initial;
                margin: 0.6rem auto;
                min-height: 40px;
            }
        }
        .hc-pb {
            align-items: baseline;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 1.2rem;
            margin-bottom: 1rem;
            h5 {
                margin-bottom: 0;
                color: $pink-color;
                text-shadow: 0px 2px 6px rgba(186, 25, 90, 0.24);
                font-size: 1.2rem;
                color: $pink-color;
            }
            a {
                text-decoration: none;
                color: #fdfeff;
                background-color: #151932;
                border-radius: 20px;
                font-size: 13px;
                padding: 0 1rem;
                @include transition($all);
                span {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    min-width: 48px;
                    padding: 4px 4px;
                    transition: opacity 300ms;
                    white-space: nowrap;
                }
                &:hover {
                    background-color: $pink-color;
                }
            }
        }
        &:hover {
            box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
        }
    }
}

.card-things {
    box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
    transition: 0.3s;
    border-radius: 2rem;
    margin-bottom: 2.4rem;
    overflow: hidden;
    border: 1px solid #dcdcdc;

    .container {
        display: block;
        padding: 0.8rem 1rem;
        h5 {
            font-size: 1.4rem;
            font-weight: 100;
            margin-bottom: 0.1rem;
            color: #5f5f5f;
        }
        p {
            font-size: 15px;
            font-weight: 400;
            color: #a9a9a9;
        }

        .tiny-text {
            font-size: 14px;
            color: #5f5f5f;
            i {
                padding-right: 0.5rem;
            }
        }
    }
  
    &:hover {
        box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
    }
}
.card-video {
    position: relative;
    box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
    transition: 0.3s;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    margin: 0 0.3rem 2.2rem;
    .dist {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            display: block;
        }
        span {
            display: inline-block;
            fill: currentColor;
            color: #fff;
            left: 50%;
            opacity: .87;
            position: absolute;
            top: 25%;
            transform: translate(-50%,-50%);
            height:40px;
            line-height:40px;
            width:40px;
            svg {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
    .details-sec {
        display: block;
        padding: 0.8rem 1rem;
        h5 {
            font-size: 1.2rem;
            font-weight: 100;
            margin-bottom: 0.1rem;
            color: #5f5f5f;
            min-height: 110px;
        }

        .tiny-text {
            font-size: 14px;
            color: #80868b;
            font-style: italic;
            span {
                font-size: 14px;
                font-style: normal;
            }
        }
    }

    &:hover {
        box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
    }
}
.card-destination {
    position: relative;
    box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
    transition: 0.3s;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    margin-bottom: 2.2rem;
    .dist {
        position: relative;
        display: block;
        img {
            width: 100%;
        }
        &-name {
            position: absolute;
            bottom: 10px;
            left: 16px;
            font-size: 1.8rem;
            color: white;
        }
        &:before {
            @include afterb(absolute,0,0,100%,60px);
            background: linear-gradient(0deg, rgba(9, 27, 49, 0.85) 0%, rgba(9, 27, 49, 0.6) 35%, rgba(9, 27, 49, 0) 100%);
        }
    }
      
    .details-sec {
        display: block;
        padding: 0.8rem 1rem;
        h5 {
            font-size: 1.4rem;
            font-weight: 100;
            margin-bottom: 0.1rem;
            color: #5f5f5f;
        }
        p {
            font-weight: 400;
            min-height: 90px;
        }

        .tiny-text {
            font-size: 14px;
            color: #757575;
            font-style: italic;
        }

        .btn-icon {
            font-size: 14px;
            display: grid;
            line-height: 3;
            color: #141414;
            i {
                font-size: 2.5rem;
            }
            &:hover {
                color: $pink-color;
            }
        }
    }
  
    &:hover {
        box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
    }
}
.card-hc {
    position: relative;
    box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
    transition: 0.3s;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    margin: 0 0 2.2rem;
    .dist {
        width: 100%;
        height: 240px;
        display: block;
        position: relative;
        padding: 2rem;
        overflow: hidden;
        img {
            width: auto;
            display: block;
            margin: 0 auto;
        }
    }
    .details-sec {
        display: block;
        padding: 0.8rem 1rem;
        h5 {
            font-size: 1.2rem;
            font-weight: 100;
            margin-bottom: 0.1rem;
            color: #5f5f5f;
            min-height: 50px;
        }

        .hc-text {
            font-size: 14px;
            color: #696c6f;
            line-height: initial;
            margin: 0.6rem auto;
            min-height: 40px;
        }
    }
    .hc-pb {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 1.2rem;
        margin-bottom: 1rem;
        h5 {
            margin-bottom: 0;
            color: $pink-color;
            text-shadow: 0px 2px 6px rgba(186, 25, 90, 0.24);
            font-size: 1.2rem;
            color: $pink-color;
        }
        a {
            text-decoration: none;
            color: #fdfeff;
            background-color: #151932;
            border-radius: 20px;
            font-size: 13px;
            padding: 0 1rem;
            @include transition($all);
            span {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                min-width: 48px;
                padding: 4px 4px;
                transition: opacity 300ms;
                white-space: nowrap;
            }
            &:hover {
                background-color: $pink-color;
            }
        }
    }
    &:hover {
        box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
    }
}

.card-flight {
    overflow: hidden;
    transition: 0.3s;
    width: 100%;
    height: auto;
    border-radius: 20px;
    word-wrap: normal;
    box-shadow: 0 8px 10px -4px rgba(80, 80, 80, 0.2);
    border: 1px solid #dcdcdc;

    .bg-grey {
        text-align: center;
        background-color: #DCDCDC;
        font-size: 5rem;
        i {
            line-height: 2;
            text-shadow: 0px 10px 10px #8c8c8c;
        }
    }

    .flight {
        width: 50%;
        height: 50%;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        margin: 25%;
    }

    p {
        font-size: 15px;
        line-height: 26px;
        color: #3d446f;
        margin: 0.5rem 0 0;
    }

    h5 {
        font-size: 3rem;
        margin: 0;
    }

    .tiny-text {
        font-size: 12px;
        color: #9c9c9c;
    }
  
    &:hover {
        box-shadow: 0 32px 26px -26px rgba(80, 80, 80, 0.4);
    }
}

.mapurl {
    iframe {
        border-radius: 20px;
        border: none;
        box-shadow: 0 16px 30px -4px rgba(80, 80, 80, 0.22);
    }
}

.accordion {
    margin: 0px auto;
  }
  
  .accordion-toggle {
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
    position: relative;
  
    &.active:after {
      content: "";
      position: absolute;
      right: 0;
      top: 17px;
      width: 0;
      height: 0;
      border-bottom: 5px solid #4933f1;
      border-left: 5px solid rgba(0, 0, 0, 0);
      border-right: 5px solid rgba(0, 0, 0, 0);
    }
  
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 17px;
      width: 0;
      height: 0;
      border-top: 5px solid #000;
      border-left: 5px solid rgba(0, 0, 0, 0);
      border-right: 5px solid rgba(0, 0, 0, 0);
    }
  
    &.active:before {
      display: none;
    }
  }
  
  .accordion-content {
    display: none;
  }
  
  .accordion-toggle.active {
    color: #4933f1;
  
    /* background: -webkit-linear-gradient(82deg, #9932f5 0%, #4933f1 53%, #4950f8 70%, #496cfe 100%); */
  }

  
  .card-img-small {
    width: 100%;
  }
  
  .card-1 {
    margin-bottom: 5%;
  }
  
  .card {
    width: 100%;
  
    .card-body .card-text {
      font-size: 1.3rem;
      font-weight: 400;
      color: #696969;
    }
  }
  
  .col-big {
    width: 50%;
    margin-right: 3%;
    margin-left: 1%;
    height: 38%;
  }
  
  .card-img-big {
    height: max-content;
  }
  
  .jumbotron {
    width: 30%;
    height: 40%;
    border-radius: 20px;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .form-control {
    padding: 0.8rem 1.4rem;
    font-size: 1rem;
    height: 48px;
    border-radius: 10px;
  }
  
  .star5 {
    border-top: 8px solid #FFC107;
    width: 60%;
    margin-top: -3%;
    margin-left: 6%;
  }
  
  .star4 {
    border-top: 8px solid #FFC107;
    width: 40%;
    margin-top: -3%;
    margin-left: 6%;
  }
  
  .star3 {
    border-top: 8px solid #FFC107;
    width: 10%;
    margin-top: -3%;
    margin-left: 6%;
  }
  
  .star1 {
    border-top: 8px solid #FFC107;
    width: 2%;
    margin-top: -3%;
    margin-left: 6%;
  }  